.card-game {

    img {
        height: 10rem;
        width: 100%;
        object-fit: cover;
    }

    p {
        color: var(--default-color);
    }

    span {
        font-size: 1.1rem;
        font-weight: 700;
        color: var(--default-color);
    }

}
