
.card-review {
    background-color: var(--default-card-background-color);
    border-radius: 2rem;
    padding: 1.5rem;
    height: 12rem;
    font-size: .8rem;
    display: flex;
    flex-direction: column;

    a {
        color: var(--default-color);
    }

    i.fa-star {
        color: var(--yellow);
    }

    .card-review-content {
        color: var(--default-card-content-color);
    }

    .card-review-votes {
        display: flex;
        flex-direction: column;
        width: 3rem;
        margin-left: auto;
    }

    .modal-body, .modal-header, .modal-footer {
        color: var(--default-color);
        background-color: var(--default-card-background-color);
    }
}
